* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: #FFFFE0;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #BDB76B;
}

h3 {
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: rgb(242, 247, 246);
}

h4 {
    font-size: 2.5rem;
}

p {
    font-size: 1.6rem;
    color: #F0E68C;
}

/**/
.nav-container {
    background-color: #BDB76B;
    color: #f0f0eb;
    /* box-shadow: 2px 2px 7px rgb(243, 210, 210);*/
}

nav {
    width: 90%;
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-size: 1.6rem;
    height: 100%;
}
.sti{
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Kufam', sans-serif;
    flex: 2;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex: 1;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    display: block;
    transition: all 0.5s;
}

nav ul li a:hover {
    color: #FFDAB9;
    scale: 1.4;
    rotate: 4deg;
}

/**/
.hero-section {
    height: 90vh;
    position: relative;
    
}

.hero-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: linear-gradient(90deg,
            rgba(238, 232, 170, 0.2) 0%,
            rgba(53, 41, 23, 0.8) 20%),
        url("./img/mediamodifier-kJXGTOY1wLQ-unsplash.jpg");
    background-size: cover;
    z-index: -1;
    box-shadow: 2px 2px 7px rgb(193, 194, 161);
    animation: heroba 5s ease;

}

.content {
    width: 90%;
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 90vh;
}

.content span {
    color: white;
}

.btn {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: #BDB76B;
    transition: all 0.5s;
}

.btn a {
    color: #f0f0eb;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.5;
    scale: 1.1;
}

/**/
.qualities {
    width: 90%;
    max-width: 1366px;
    margin: 4rem auto;
    height: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}

.quality-container {
    display: flex;
    justify-content: space-between;
    grid-gap: 2rem;
    padding-top: 5rem;
}

.quality {
    background-color: #BDB76B;
    color: white;
    padding: 4rem 0;
    width: 30%;
    box-shadow: 2px 2px 5px black;
    opacity: 0;
    transform: translateY(-20px);
    animation: gool 1s ease-in-out forwards;

}

@keyframes gool {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }

}

.quality p {
    text-align: center;
    width: 70%;
    margin: 1rem auto;

}

.qualities h2 {
    font-size: 3rem;
    color: #BDB76B;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;


}

.title h3 {
    margin-bottom: 0;
}

.title i {
    font-size: 2rem;
}

.about-ALL {
    background-color: #BDB76B;

}

.about-us {
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    justify-content: space-between;

}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h2 {
    color: white;
    font-size: 3rem;
}

.about-content p {
    margin-top: 1rem;
    width: 80%;
}

/**/
.contact {
    width: 90%;
    max-width: 1366px;
    margin: 3rem auto;
    height: 100%;
    padding: 2rem 0;
    text-align: center;


}

.contact form {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    width: 100%;

}

form .btn {
    width: 100px;
    align-self: center;
}

input,
textarea {
    width: 80%;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 0.70rem 2rem;
    background-color: #BDB76B;
    margin: 0 auto;

}

label,
input,
textarea {
    font-family: inherit;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #BDB76B;
}

.contact h2 {
    color: #BDB76B;
    font-size: 3rem;
}

footer {
    background-color: #BDB76B;
    height: 10vh;
    text-align: center;
}

footer p {
    color: white;
}

footer i {
    font-size: 2rem;
    color: #fffffe;
    margin: 2px;
}

/*----------------------*/
@keyframes heroba {
    from {
        scale: 1.2;
    }

    to {
        scale: 1;
    }
}
/*---------------------------------*/

@media (max-width:1000px) {
    .hero-section .content{
        align-items: center;
        text-align: center;
    }
}
@media (max-width:900px) {
    nav ul{
        position: absolute;
        left: 0;
        top: 10vh;
        flex-direction: column;
        background-color: #bdb76b83;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        display: none;
        
    }
    ul.open{
        display: flex;
    }
    nav ul li{
        margin: 10px 0;
    }
    .sti{
        display: block;
        font-size: 30px;
    }
    .quality-container{
        flex-wrap: wrap;
    }
    .quality{
        width: 100%;
    }
    html{
        font-size: 6px;
    }
    #img{
        display: none;
    }
    .about-us{
        text-align: center;
      
    }
    .about-us p{
        margin: 0 auto;
    }

}